body {
    background: black;
}

.card{
    background: white;
    width: 500px;
    height: 700px;
    margin: auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    place-items: center;
}

.icons {
    margin-top: 5px;
    margin-left: 5px;
}

.description {
    margin-top: 10px;
    margin-left: 5px;
}

.fa-bookmark {
    margin-left: 400px;
}

.image {
    display: grid;
    place-items: center;
}